/* Root */
body {
    margin: 0;
    color: white;
}

/* Navbar */
.navbar {
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar > h1 {
    margin-left: 1rem;
}

.navbar > button {
    margin-right: 1rem;
}