/* Root */
body {
    margin: 0;
    color: white;
    background-color: lightgrey;
}

/* Navbar */
.navbar {
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar > h1 {
    margin-left: 1rem;
}

.navbar > button {
    margin-right: 1rem;
}

table {
    width: 100%;
    border-spacing: 1rem;
    color: black;
}

td {
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
    border-color: black;
    transition: 0.5s;
}

td:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.4s;
}